In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\Data science\Project 4 - Swiggy Analysis\cleaned_swiggy.csv")
df

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\HP\AppData\Local\Temp\ipykernel_7508\1800660775.py:1: SyntaxWarning: invalid escape sequence '\D'
  df = pd.read_csv("C:\Data science\Project 4 - Swiggy Analysis\cleaned_swiggy.csv")

,name,city,rating,rating_count,cost,cuisine
0,Janta Sweet House,Abohar,4.4,50,200,"Sweets,Bakery"
1,theka coffee desi,Abohar,3.8,100,100,Beverages
2,Singh Hut,Abohar,3.7,20,250,"Fast Food,Indian"
3,Sam Uncle,Abohar,3.6,20,200,Continental
4,shere punjab veg,Abohar,4.0,100,150,North Indian
...,...,...,...,...,...,...
56625,Jain Varities & Icecream Corner,Yavatmal,3.7,50,150,"Snacks,Fast Food"
56626,Ranade Bandhu,Yavatmal,4.7,20,100,"Sweets,Fast Food"
56627,Satkar Dinning Hall,Yavatmal,3.6,100,200,"Maharashtrian,North Indian"
56628,Suraj Hotel,Yavatmal,3.0,20,200,"North Indian,Fast Food"
56629,FOOD WORLD RESTAURANT,Yavatmal,2.6,20,150,North Indian

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [4]:
df['name_encoded'] = le.fit_transform(df['name'])
df

,name,city,rating,rating_count,cost,cuisine,name_encoded
0,Janta Sweet House,Abohar,4.4,50,200,"Sweets,Bakery",17038
1,theka coffee desi,Abohar,3.8,100,100,Beverages,40170
2,Singh Hut,Abohar,3.7,20,250,"Fast Food,Indian",32477
3,Sam Uncle,Abohar,3.6,20,200,Continental,30618
4,shere punjab veg,Abohar,4.0,100,150,North Indian,40114
...,...,...,...,...,...,...,...
56625,Jain Varities & Icecream Corner,Yavatmal,3.7,50,150,"Snacks,Fast Food",16930
56626,Ranade Bandhu,Yavatmal,4.7,20,100,"Sweets,Fast Food",28387
56627,Satkar Dinning Hall,Yavatmal,3.6,100,200,"Maharashtrian,North Indian",31021
56628,Suraj Hotel,Yavatmal,3.0,20,200,"North Indian,Fast Food",33854
56629,FOOD WORLD RESTAURANT,Yavatmal,2.6,20,150,North Indian,11023

In [6]:
df['cuisine'].unique()

array(['Sweets,Bakery', 'Beverages', 'Fast Food,Indian', ...,
       'Grill,North Indian', 'Burgers', 'South American,Andhra'],
      dtype=object)

In [5]:
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder()

In [8]:
one_array = one.fit_transform(df[['city','cuisine']]).toarray()

In [10]:
one_df = pd.DataFrame(one_array)
encoded_df = pd.concat([df,one_df],axis=1)
encoded_df

,name,city,rating,rating_count,cost,cuisine,name_encoded,0,1,2,...,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161
0,Janta Sweet House,Abohar,4.4,50,200,"Sweets,Bakery",17038,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,theka coffee desi,Abohar,3.8,100,100,Beverages,40170,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Singh Hut,Abohar,3.7,20,250,"Fast Food,Indian",32477,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Sam Uncle,Abohar,3.6,20,200,Continental,30618,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,shere punjab veg,Abohar,4.0,100,150,North Indian,40114,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56625,Jain Varities & Icecream Corner,Yavatmal,3.7,50,150,"Snacks,Fast Food",16930,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56626,Ranade Bandhu,Yavatmal,4.7,20,100,"Sweets,Fast Food",28387,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56627,Satkar Dinning Hall,Yavatmal,3.6,100,200,"Maharashtrian,North Indian",31021,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56628,Suraj Hotel,Yavatmal,3.0,20,200,"North Indian,Fast Food",33854,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56629,FOOD WORLD RESTAURANT,Yavatmal,2.6,20,150,North Indian,11023,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
encoded_df.drop(['name','city','cuisine'],axis=1)
encoded_df

,name,city,rating,rating_count,cost,cuisine,name_encoded,0,1,2,...,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161
0,Janta Sweet House,Abohar,4.4,50,200,"Sweets,Bakery",17038,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,theka coffee desi,Abohar,3.8,100,100,Beverages,40170,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Singh Hut,Abohar,3.7,20,250,"Fast Food,Indian",32477,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Sam Uncle,Abohar,3.6,20,200,Continental,30618,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,shere punjab veg,Abohar,4.0,100,150,North Indian,40114,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56625,Jain Varities & Icecream Corner,Yavatmal,3.7,50,150,"Snacks,Fast Food",16930,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56626,Ranade Bandhu,Yavatmal,4.7,20,100,"Sweets,Fast Food",28387,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56627,Satkar Dinning Hall,Yavatmal,3.6,100,200,"Maharashtrian,North Indian",31021,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56628,Suraj Hotel,Yavatmal,3.0,20,200,"North Indian,Fast Food",33854,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56629,FOOD WORLD RESTAURANT,Yavatmal,2.6,20,150,North Indian,11023,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
encoded_df.shape

(56630, 2169)

In [16]:
if df.shape[0] == encoded_df.shape[0]:
    print("Both cleaned and Encoded Dataframe Match")
else:
    print("check again")

Both cleaned and Encoded Dataframe Match

In [ ]:
encoded_df.to_csv("C:\Data science\Project 4 - Swiggy Analysis\encoded_data_cluster.csv",index=False)

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\HP\AppData\Local\Temp\ipykernel_7508\902529753.py:1: SyntaxWarning: invalid escape sequence '\D'
  encoded_df.to_csv("C:\Data science\Project 4 - Swiggy Analysis\encoded_data.csv",index=False)

In [19]:
encoded_df.to_pickle("C:\Data science\Project 4 - Swiggy Analysis\encoded_pickle.pkl")

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\HP\AppData\Local\Temp\ipykernel_7508\1796435079.py:1: SyntaxWarning: invalid escape sequence '\D'
  encoded_df.to_pickle("C:\Data science\Project 4 - Swiggy Analysis\encoded_pickle.pkl")