In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\Data science\Project 4 - Swiggy Analysis\swiggy.csv")

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\HP\AppData\Local\Temp\ipykernel_24116\2888840965.py:1: SyntaxWarning: invalid escape sequence '\D'
  df=pd.read_csv("C:\Data science\Project 4 - Swiggy Analysis\swiggy.csv")

In [3]:
pd.set_option('display.max_rows', None)       
pd.set_option('display.max_columns', None)        

df.head(10)

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
5,158204,Sam Uncle,Abohar,3.6,20+ ratings,₹ 200,Continental,22119652000052,https://www.swiggy.com/restaurants/sam-uncle-c...,"Sam Uncle, hanumangarh road near raja bajaj sh...",Menu/158204.json
6,156588,shere punjab veg,Abohar,4.0,100+ ratings,₹ 150,North Indian,22120652000021,https://www.swiggy.com/restaurants/shere-punja...,"shere punjab veg, major surinder chowk near ve...",Menu/156588.json
7,244866,Shri Balaji Vaishno Dhaba,Abohar,--,Too Few Ratings,₹ 100,North Indian,22119652000389,https://www.swiggy.com/restaurants/shri-balaji...,"Shri Balaji Vaishno Dhaba, St no 13,6th chowk,...",Menu/244866.json
8,156602,Hinglaj Kachori Bhandhar,Abohar,4.2,20+ ratings,₹ 100,"Snacks,Chaat",22119652000042,https://www.swiggy.com/restaurants/hinglaj-kac...,"Hinglaj Kachori Bhandhar, street no 11 circula...",Menu/156602.json
9,158193,yummy hub,Abohar,--,Too Few Ratings,₹ 200,Indian,22119652000045,https://www.swiggy.com/restaurants/yummy-hub-c...,"yummy hub, hanumangarh road near dr naveen set...",Menu/158193.json

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [5]:
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['cost'] = df['cost'].str.replace('₹','')
df['cost'] = pd.to_numeric(df['cost'], errors='coerce')

In [6]:
df['cost'] = pd.to_numeric(df['cost'], errors='coerce').astype('Int64')

In [7]:
df['rating_count'] = df['rating_count'].str.replace('+','',regex=False)
df['rating_count'] = df['rating_count'].str.replace('ratings','',regex=False)
df['rating_count'] = df['rating_count'].replace('Too Few Ratings',0)
df['rating_count'] = pd.to_numeric(df['rating_count'], errors='coerce').astype('Int64')

In [8]:
df['city'] = df['city'].str.split(',').str[-1].str.strip()

In [9]:
df['city'].unique()

array(['Abohar', 'Adilabad', 'Adityapur', 'Adoni', 'Agartala', 'Agra',
       'Ahmedabad', 'Ahmednagar', 'Aizawl', 'Ajmer', 'Akola', 'Alappuzha',
       'Aligarh', 'Alipurduar', 'Allahabad', 'Alwar', 'Ambala',
       'Ambikapur', 'Ambur', 'Amravati', 'Amreli', 'Amritsar', 'Anand',
       'Anantapur', 'Ankleshwar', 'Arakkonam', 'Arambagh', 'Arrah',
       'Aruppukottai', 'Asansol', 'Aurangabad', 'Aurangabad_bihar',
       'Azamgarh', 'Baddi', 'Bagalkot', 'Bagdogra', 'Bahadurgarh',
       'Bahraich', 'Balaghat', 'Balangir', 'Balasore', 'Ballari',
       'Balrampur', 'Balurghat', 'Banda', 'Bangalore', 'Bantwal',
       'Bapatlachirala', 'Baramati', 'Baran', 'Bardhaman', 'Bardoli',
       'Bareilly', 'Barmer', 'Barnala', 'Barshi', 'Barwani', 'Basirhat',
       'Basti', 'Batala', 'Bathinda', 'Beawar', 'Beed', 'Begusarai',
       'Bela-pratapgarh', 'Belgaum', 'Berhampore', 'Berhampur', 'Bettiah',
       'Betul', 'Bhadohi', 'Bhadrachalam', 'Bhagalpur', 'Bhandara',
       'Bharabanki', 'Bharatpur', 'Bharuch', 'Bhatkal', 'Bhavnagar',
       'Bhawanipatna', 'Bhilai', 'Bhilwara', 'Bhimavaram', 'Bhind',
       'Bhiwadi', 'Bhiwani', 'Bhopal', 'Bhubaneswar', 'Bhuj', 'Bhusawal',
       'Bidar', 'Biharsharif', 'Bijapur', 'Bijnor', 'Bikaner', 'Bilaspur',
       'Bilimora', 'Bodhan-rural', 'Bodinayakanur', 'Boisar', 'Bokaro',
       'Bolpur', 'Bongaigaon', 'Bongaon', 'Budaun', 'Budhwal',
       'Bulandshahr', 'Buldana', 'Bundi', 'Burhanpur', 'Buxar',
       'Central-goa', 'Chakdaha', 'Chalakkudy', 'Chalisgaon', 'Chandausi',
       'Chandigarh', 'Chandrapur', 'Changanassery', 'Chengannur',
       'Chennai', 'Cherthala', 'Chhapra', 'Chhatarpur', 'Chhindwara',
       'Chidambaram', 'Chikhli', 'Chikkaballapur', 'Chikmagalur',
       'Chiplun', 'Chitradurga', 'Chittoor', 'Chittorgarh', 'Chopda',
       'Churu', 'Coimbatore', 'Cooch-behar', 'Cuddalore', 'Cuttack',
       'Dahanu', 'Dahod', 'Daman', 'Darbhanga', 'Darjeeling', 'Dausa',
       'Davanagere', 'Dehradun', 'Dehri', 'Delhi', 'Deoghar', 'Dewas',
       'Dhanbad', 'Dhar', 'Dharamshala', 'Dharmapuri', 'Dharwad',
       'Dhoraji', 'Dhule', 'Dibrugarh', 'Dimapur', 'Dindigul', 'Diu',
       'Doddaballapura', 'Duliajan', 'Dumka', 'Durgapur', 'Eluru',
       'Erode', 'Etawah', 'Faizabad', 'Faridabad', 'Faridkot',
       'Farrukhabad', 'Fatehabad', 'Fatehgarh-sahib', 'Fatehpur',
       'Fazilka', 'Firozabad', 'Firozpur', 'Gadag-betigeri', 'Gadwal',
       'Gandhidham', 'Gangapur-city', 'Gangtok', 'Gauriganj', 'Gaya',
       'Giridih', 'Godhra', 'Gokak', 'Golaghat', 'Gonda', 'Gondal',
       'Gondia', 'Gopalganj', 'Gorakhpur', 'Gudivada', 'Guna', 'Guntakal',
       'Guntur', 'Gurdaspur', 'Gurgaon', 'Guwahati', 'Gwalior', 'Habra',
       'Haldia', 'Haldwani', 'Halol', 'Hampi', 'Hansi', 'Hanumangarh',
       'Hapur', 'Hardoi', 'Haridwar', 'Hassan', 'Himmatnagar', 'Hindaun',
       'Hinganghat', 'Hisar', 'Hoshangabad', 'Hoshiarpur', 'Hospet',
       'Hubli', 'Hyderabad', 'Ichalkaranji', 'Imphal', 'Indore',
       'Irinjalakuda', 'Itanagar', 'Itarsi', 'Jabalpur', 'Jagdalpur',
       'Jagraon', 'Jagtial', 'Jahanabad', 'Jaipur', 'Jalaun', 'Jalgaon',
       'Jalpaiguri', 'Jammu', 'Jamnagar', 'Jamshedpur', 'Jaunpur',
       'Jhalawar', 'Jhansi', 'Jhargram', 'Jhunjhunu', 'Jind', 'Jodhpur',
       'Jorhat', 'Junagadh', 'Kadapa', 'Kadayanallur', 'Kadiri',
       'Kaithal', 'Kakinada', 'Kalaburagi', 'Kalady', 'Kamareddy',
       'Kanchrapara', 'Kannauj', 'Kannur', 'Kanpur', 'Kanyakumari',
       'Kapurthala', 'Karad', 'Karaikkudi', 'Karimnagar', 'Karnal',
       'Karunagappaly', 'Karur', 'Karwar', 'Kasaragod', 'Kashipur',
       'Katihar', 'Katni', 'Kavali', 'Kayamkulam', 'Kendujhar',
       'Khamgaon', 'Khammam', 'Khandwa', 'Khanna', 'Kharagpur',
       'Kishanganj', 'Kishangarh', 'Kochi', 'Kodaikanal', 'Kohima',
       'Kolar', 'Kolhapur', 'Kolkata', 'Kollam', 'Kopargaon', 'Koppal',
       'Korba', 'Kota', 'Kotdwar', 'Kothagudem', 'Kothamanagalam',
       'Kottakkal', 'Kottarakkara', 'Kottayam', 'Kovilpatti', 'Kozhikode',
       'Krishnagiri', 'Krishnanagar', 'Kumarakom', 'Kumbakonam', 'Kumta',
       'Kundapura', 'Kunnamkullam', 'Kurnool', 'Kurukshetra', 'Lakhimpur',
       'Lalitpur', 'Latur', 'Lonavala', 'Lonavla', 'Lucknow', 'Ludhiana',
       'Machilipatnam', 'Madanapalle', 'Madhubani', 'Madikeri', 'Madurai',
       'Mahbubnagar', 'Malappuram', 'Malda', 'Malegaon', 'Malout',
       'Manali', 'Mancherial', 'Mandi-dabwali', 'Mandi-gobindgarh',
       'Mandsaur', 'Mandya', 'Mangaluru', 'Manipal', 'Manjeri', 'Mansa',
       'Markapur', 'Mathura', 'Maunath-bhanjan', 'Mayiladuthurai',
       'Medinipur', 'Meerut', 'Mehsana', 'Miryalaguda', 'Mirzapur',
       'Modinagar', 'Moga', 'Moodbidri', 'Moradabad', 'Morbi', 'Morena',
       'Motihari', 'Mount-abu', 'Mughalsarai', 'Muktsar', 'Mumbai',
       'Munger', 'Murshidabad', 'Mussoorie', 'Muvattupuzha',
       'Muzaffarnagar', 'Muzaffarpur', 'Mysore', 'Nabadwip', 'Nadiad',
       'Nagaon', 'Nagapattinam', 'Nagda', 'Nagercoil', 'Nagpur',
       'Naharlagun', 'Nainital', 'Nalgonda', 'Namakkal', 'Nanded',
       'Nandurbar', 'Nandyal', 'Nangal', 'Naraingarh', 'Narasaraopet',
       'Narnaul', 'Narsinghpur', 'Navsari', 'Neemuch', 'Nellore',
       'Neyveli', 'Nipani', 'Nirmal', 'Nizamabad', 'Noida', 'Noida-1',
       'North-goa', 'Ongole', 'Ooty', 'Orai', 'Osmanabad', 'Pala',
       'Palakkad', 'Palampur', 'Palani', 'Palanpur', 'Pali', 'Panipat',
       'Parbhani', 'Pathankot', 'Patiala', 'Patna', 'Perinthalmanna',
       'Phagwara', 'Pilibhit', 'Pondicherry', 'Porbandar', 'Proddatur',
       'Pudukkottai', 'Pune', 'Puri', 'Purnea', 'Purulia', 'Pusad',
       'Puttur', 'Rae-bareli', 'Raghunathpur', 'Raichur', 'Raiganj',
       'Raigarh', 'Raipur', 'Rajahmundry', 'Rajapalayam', 'Rajkot',
       'Rajnandgaon', 'Rajsamand', 'Ramagundam', 'Ramanagara',
       'Ramanathapuram', 'Rampur', 'Ranaghat-wb', 'Ranchi', 'Rangpo',
       'Ranibennur', 'Raniganj', 'Ratlam', 'Ratnagiri', 'Rayachoty',
       'Rewa', 'Rewari', 'Rishikesh', 'Rohtak', 'Roorkee', 'Ropar',
       'Rourkela', 'Rudrapur', 'Sagar', 'Saharanpur', 'Saharsa', 'Salem',
       'Samastipur', 'Sambalpur', 'Sangamner', 'Sangli', 'Sangrur',
       'Sasaram', 'Satara', 'Satna', 'Sawai-madhopur', 'Sehore',
       'Shahjahanpur', 'Shikohabad', 'Shillong', 'Shimla', 'Shivamogga',
       'Shivpuri', 'Shrirampur', 'Siddipet', 'Sikar', 'Silchar',
       'Siliguri', 'Silvassa', 'Sindhanur', 'Singrauli', 'Sirsa', 'Sirsi',
       'Sitapur', 'Sivakasi', 'Sivasagar', 'Siwan', 'Solan', 'Solapur',
       'Sonipat', 'South-goa', 'Sri-ganganagar', 'Srikakulam',
       'Srivilliputhur', 'Sultanpur', 'Surat', 'Suratgarh',
       'Surendranagar-dudhrej', 'Suryapet', 'Tadepalligudem', 'Tadpatri',
       'Tanuku', 'Tarn-taran-sahib', 'Tenkasi', 'Tezpur', 'Thalassery',
       'Thanjavur', 'Theni', 'Thiruvalla', 'Thiruvallur',
       'Thiruvananthapuram', 'Thiruvarur', 'Thodupuzha', 'Thoothukudi',
       'Thrissur', 'Tinsukia', 'Tiptur', 'Tirunelveli', 'Tirupati',
       'Tirupur', 'Tiruvannamalai', 'Tohana', 'Trichy', 'Tumakuru',
       'Tuni', 'Udaipur', 'Udgir', 'Ujjain', 'Uluberia', 'Uran-islampur',
       'Vadodara', 'Valsad', 'Vapi', 'Varanasi', 'Varkala', 'Vellore',
       'Veraval', 'Vidisha', 'Vijayawada', 'Virudhunagar', 'Visnagar',
       'Vizag', 'Vizianagaram', 'Vyara', 'Waidhan', 'Warangal', 'Wardha',
       'Washim', 'Yamuna-nagar', 'Yavatmal'], dtype=object)

In [13]:
df.drop(["id","lic_no","link","menu","address"],axis="columns",inplace=True)

In [14]:
df.sample()

              name   city  rating  rating_count  cost             cuisine
147120  COFFEE BOY  Vizag     NaN             0   250  Beverages,American

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          148455 non-null  object
 1   city          148541 non-null  object
 2   rating        61441 non-null   float64
 3   rating_count  145603 non-null  Int64
 4   cost          148410 non-null  Int64
 5   cuisine       148442 non-null  object
dtypes: Int64(2), float64(1), object(3)
memory usage: 7.1+ MB

In [16]:
df.dropna(inplace=True)

In [18]:
df = df.drop_duplicates()

In [19]:
df.duplicated().sum()

0

In [20]:
df.to_csv("C:\Data science\Project 4 - Swiggy Analysis\cleaned_swiggy.csv", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\HP\AppData\Local\Temp\ipykernel_24116\571651700.py:1: SyntaxWarning: invalid escape sequence '\D'
  df.to_csv("C:\Data science\Project 4 - Swiggy Analysis\cleaned_swiggy.csv", index=False)